<a href="/places/add"><img src="/images/back.png" alt="back" class="back"></a>
<header>
<img src="/images/nanologo.jpg" alt="logo" class="logo">
</header>
<h1>My Profile</h1>

<div class="d-grid gap-2 buttonBox">
    <a href="/profile/logout" class="btn myButton" type="button">Log out</a>
</div>
{{!-- <div class="d-grid gap-2 buttonBox">
    <a href="/profile/delete" class="btn myButton" type="button">Delete account</a>
</div> --}}
<form action="/profile" method="POST"></form>
<div class="d-grid gap-2 buttonBox">
  <button class="btn myButton" type="submit">Delete account</button>
</div>


<footer>
      <!-- Home -->
      <a href="/"><img src="/images/home.png" lat="home" class="home"></a>
      <!-- Add -->
      <a href="/places/add"><img src="/images/plus.png" lat="add" class="plus"></a>
      <!-- Profile -->
      <a href="/profile"><img src="/images/profile.png" lat="profile" class="profile"></a>
</footer>

