<a href="/places/add"><img src="/images/back.png" alt="back" class="back"></a>
<header>
<img src="/images/nanologo.jpg" alt="logo" class="logo">
</header>
<h1>My Profile</h1>
<div class="d-grid gap-2 buttonBox">
    <a href="/profile/logout" class="btn myButton" type="button">Log out</a>
</div>
<form action="/profile/delete" method="POST">
<div class="d-grid gap-2 buttonBox">
  <button class="btn myButton" type="submit">Delete account</button>
</div>
</form>
<br>
<div data-spy="scroll" class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Type of Place</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each places}}
    <tr>
      <td>{{{this.place}}}</td>
      <td>{{this.description}}</td>
      <td>
    <form action="/myPlaces/{{this._id}}/delete" method="POST">
   <button type="submit" class="btn btn-outline-secondary delbtn bi bi-trash-fill"></i></button>
</form>
<form action="/myPlaces/edit" method="GET">
  <button type="submit" class="btn btn-outline-secondary delbtn bi bi-pencil-fill"></button>
</form>

      </td>
    </tr>
{{/each}}
  </tbody>
</table>
</div>
<footer>
      <!-- Home -->
      <a href="/"><img src="/images/home.png" alt="home" class="home"></a>
      <!-- Add -->
      <a href="/places/add"><img src="/images/plus.png" alt="add" class="plus"></a>
      <!-- Profile -->
      <a href="/profile"><img src="/images/profile.png" alt="profile" class="profile"></a>
</footer>