<a href="/"><img src="/images/back.png" alt="back" class="back"></a>
<h5>Add a New Dog Friendly Place</h5>
<br>
<div class="create">
<div class="createForm">

<script src="/app.js"></script>
<div  id="mapAdd"></div>
 <br>
 <div class="leaflet-control coordinates"></div>
<script>
    
	const map = L.map('mapAdd').setView([47.3769, -8.5417], 4);	
//leaflet map -- OpenStreet -- safeguard
	var OpenStreetMap_HOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'
});
OpenStreetMap_HOT.addTo(map);
//maptiler street
var maptillerStreet = L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=3l8GFPZwCEHEiHYwjZnb', {
	maxZoom: 19,
	attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
});
//maptillerStreet.addTo(map);
//Google SatMap
var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
});
//googleSat.addTo(map)
//Google StreetMap	
var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
});
googleStreets.addTo(map)
var myIcon = L.icon({
    iconUrl: '/images/42578_adobespark.png',
    iconSize: [50, 50]
});


var baseLayers = {
    "StreetMaps": googleStreets,
    "SatMaps": googleSat,
    "StreetTiller": maptillerStreet
    
};

L.control.layers(baseLayers).addTo(map);
</script>


<script>
	console.log( {{{loc}}} ) // prints   [51.505, -0.09]
</script>





<script id="select-location">
  
map.on('click', function(e) {
	//document.getElementsByClassName('coordinates')[0].innerHTML = 'lat: ' + e.latlng.lat +' --- ' + 'long: ' + e.latlng.lng;
    L.marker([e.latlng.lat,e.latlng.lng]).addTo(map);
    console.log('lat: ' + e.latlng.lat, 'long: ' + e.latlng.lng);
document.querySelector("#latitude").value=e.latlng.lat;
document.querySelector("#longitude").value=e.latlng.lng;
} );

</script>


<div class="create">
<div class="createForm">
  
<form method="POST" action="/places/add">
    <div class="input-group input-group-sm mb-3">
  
  <input type="hidden" id="latitude" name="latitude" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
</div>
  <div  class="input-group input-group-sm mb-3">
  
  <input type="hidden" id="longitude" name="longitude" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  >
</div>
<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Place Type</label>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Accomodation...</option>
    <option value="3">Campsite</option>
    <option value="1">River Beach</option>
    <option value="2">Beach</option>
    <option value="3">Park</option>
  </select>
</div>
{{!--      <div class="input-group input-group-sm mb-3">
  <span class="input-group-text" id="inputGroup-sizing-sm">Place Type</span>
  <input name="place" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div> --}}
<div class="input-group">
  <span class="input-group-text">Description</span>
  <textarea name="description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></textarea>
</div>
<br>
    <div class="d-grid gap-2">
  <button class="btn btn-primary myButton" type="submit">Add Place</button>
</div>
</form>
</div>
</div>
<footer>
      <!-- Home -->
      <a href="/"><img src="/images/home.png" alt="home" class="home"></a>
      <!-- Add -->
      <a href="/places/add"><img src="/images/plus.png" alt="add" class="plus"></a>
      <!-- Profile -->
      <a href="/profile"><img src="/images/profile.png" alt="profile" class="profile"></a>
</footer>

{{#if error}}
<p class="error">Ups! {{error}}</p>
{{/if}}