<a href="/search"><img src="/images/back.png" alt="back" class="back"></a>
<script>
</script>
<h5>Add a New Dog Friendly Place</h5>
<br>
<div class="create">
<div class="createForm">

<script src="/app.js"></script>
<div  id="mapAdd"></div>
 <br>
 <div class="leaflet-control coordinates"></div>
<script>
    
	const map = L.map('mapAdd').setView([38.778401, -9.229870], 11);	
//leaflet map -- OpenStreet -- safeguard
	var OpenStreetMap_HOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'
});

//maptillerStreet.addTo(map);
//Google SatMap
var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
});
//googleSat.addTo(map)
//Google StreetMap	
var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
});
googleStreets.addTo(map)
var myIcon = L.icon({
    iconUrl: '/images/42578_adobespark.png',
    iconSize: [50, 50]
});

var baseLayers = {
    "StreetMaps": googleStreets,
    "SatMaps": googleSat
 
};

L.control.layers(baseLayers).addTo(map);
</script>


<script>
	console.log( {{{loc}}} ) // prints   [51.505, -0.09]
</script>





<script id="select-location">
  
map.on('click', function(e) {
	//document.getElementsByClassName('coordinates')[0].innerHTML = 'lat: ' + e.latlng.lat +' --- ' + 'long: ' + e.latlng.lng;
   var redIcon = new L.Icon({
	iconUrl: '/images/marker-icon-red.png',
	shadowUrl: '/images/marker-shadow.png',
	iconSize: [25, 41],
	iconAnchor: [12, 41],
	popupAnchor: [1, -34],
	shadowSize: [41, 41]
});
   
    L.marker([e.latlng.lat,e.latlng.lng], {icon: redIcon}).addTo(map);
    console.log('lat: ' + e.latlng.lat, 'long: ' + e.latlng.lng);
document.querySelector("#latitude").value=e.latlng.lat;
document.querySelector("#longitude").value=e.latlng.lng;
} );

</script>
<br>
<h6>Pick the location on the map</h6>

<div class="create">
<div class="createForm">
  
<form method="POST" action="/places/add" enctype="multipart/form-data">
    <div class="input-group input-group-sm mb-3">
  
  <input type="hidden" id="latitude" name="latitude" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
</div>
  <div  class="input-group input-group-sm mb-3">
  
  <input type="hidden" id="longitude" name="longitude" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  >
</div>
<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Place Type</label>
  <select name="place" class="form-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="River Beach">River Beach</option>
    <option value="Beach">Beach</option>
    <option value="Park">Park</option>
    <option value="Accomodation">Accomodation</option>
    <option value="Dog Services">Dog Services</option>
  </select>
</div>

<div class="input-group">
  <span class="input-group-text">Description</span>
  <textarea name="description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></textarea>
</div>
<br>

<div class="d-grid gap-2">
   <input type="file" name="image" accept="image/png, image/jpg">
  <button class="btn myButton" type="submit">Add Place</button>
</div>
</form>
</div>
</div>
<br>
<footer>
      <!-- Home -->
      <a href="/"><img src="/images/home.png" alt="home" class="home"></a>
      <!-- Add -->
      <a href="/places/add"><img src="/images/plus.png" alt="add" class="plus"></a>
      <!-- Profile -->
      <a href="/profile"><img src="/images/profile.png" alt="profile" class="profile"></a>
</footer>

{{#if error}}
<p class="error">Ups! {{error}}</p>
{{/if}}


{{!-- camera icon --}}
{{!-- <form method="POST" action="/places/add" enctype="multipart/form-data"> --}}
  {{!--   <button class="bi bi-camera-fill btn-outline-secondary" type="submit">  Submit Photo</button> --}}
