<header>
<img src="/images/minilogo.jpg" alt="logo" class="logo">
</header>


<div class="d-grid gap-2 buttonBox">
    <a href="/search" class="btn myButton" type="button">Search / Add</a>
  <br>
  <a href="/login" class="btn myButton" type="button">Log in</a>
  <a href="/signup" class="btn myButton" type="button">Sign up</a>
</div>