<h1>{{title}}</h1>
<header>
<img src="https://res.cloudinary.com/dhgprd40q/image/upload/v1637329405/Plogs/minilogo_bpiy4f.jpg" alt="logo" class="logo">
</header>


<div class="d-grid gap-2 buttonBox">
    <a href="/search" class="btn myButton" type="button">Search</a>
  <br>
  <br>
  <a href="/login" class="btn myButton" type="button">Log In</a>
  <a href="/signup" class="btn myButton" type="button">Sign Up</a>
</div>