<header>
<img src="/images/minilogo.jpg" alt="logo" class="logo">
</header>


<div class="d-grid gap-2 buttonBox">
    <a href="/search" class="btn myButton" type="button">Search / Add</a>
 
  <a href="/login" class="btn myButton" type="button">Log in</a>
  <a href="/signup" class="btn myButton" type="button">Sign up</a>
</div>

<footer class="aboutNav">
      <a href="/aboutus" alt="aboutus" class="aboutus">@2021-Plogs Made by Inês and Ricardo</a>
</footer>