/* @media only screen and (max-width:393px) */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5c674;  
}
.buttonBox {
  margin-top: 60px;

}

.myButton {
  color: white;
  background-color: #5b4641;
  border-color: #5b4641;
  font-size: x-large;
}
.myButton:hover {
  color: white;
  background-color: #755c55;
  border-color: #5b4641;
}
.myButton:active {
  background-color: #5b4641 !important;
  border-color: rgb(255, 145, 0);
}
a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#mapid { 
	height: 380px; 
}
