/* @media only screen and (max-width:393px) */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5c674;  
}
.buttonBox {
  margin-top: 60px;

}

.myButton {
  color: white;
  background-color: #5b4641;
  border-color: #5b4641;
  font-size: x-large;
}
.myButton:hover {
  color: white;
  background-color: #755c55;
  border-color: white;
}
/* .myButton:active {
  background-color: #5b4641 !important;
  border-color: rgb(255, 145, 0);
} */

.dropdown-item {
  color:black;
  font-size: large;
}
.myDropdown:hover {
  color:white;
  background-color:#755c55;
  border-color: white; /* not working  */
}
.bi {
  color: rgb(29, 28, 28);
}

h1 {
  color: 15px;
}

#mapid { 
	height: 550px; 
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #F5C674;
  color: #5b4641;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
  border-radius:55px 15px 70px 55px;
}

.leaflet-container a {
  color: black;
}