body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5c674;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#mapid { 
	height: 550px; 
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #F5C674;
  color: #5b4641;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
  border-radius:55px 15px 70px 55px;
}

.leaflet-container a {
  color: black;
}